.App {
  text-align: center;
  overflow-wrap: break-word;
  margin: 2rem ;
}

.first {
  background-color: rgb(197, 226, 216);
  padding: 2rem
}
.second {
  background-color: rgb(229, 198, 221);
  padding: 2rem
}
.third {
  background-color: rgb(198, 229, 209);
  padding: 2rem
}
.child {
  background-color: rgb(232, 226, 226);
  color:rgb(69, 61, 61);
}