.App {
  text-align: center;
  overflow-wrap: break-word;
  margin: 2rem ;
}

.first {
  background-color: rgb(197, 226, 216);
  padding: 2rem
}
.second {
  background-color: rgb(229, 198, 221);
  padding: 2rem
}